:root {
  --clr-bg-dark: oklch(0.92 0 110);
  --clr-bg: oklch(0.96 0 110);
  --clr-bg-light: oklch(1 0 110);
  --clr-text: oklch(0.15 0 110);
  --clr-text-muted: oklch(0.4 0 110);
  --clr-highlight: oklch(1 0 110);
  --clr-border: oklch(0.6 0 110);
  --clr-border-muted: oklch(0.7 0 110);

  --clr-primary: oklch(0.76 0.1 240);
  --clr-secondary: oklch(0.76 0.1 300);
  --clr-tertiary: oklch(0.76 0.1 270);

  --clr-danger: oklch(0.7 0.1 30);
  --clr-warning: oklch(0.7 0.1 100);
  --clr-success: oklch(0.7 0.1 160);
  --clr-info: oklch(0.7 0.1 260);

  --box-shadow: 2px 2px 0.5rem var(--clr-border-muted);
}

body.dark {
  /* oklch */
  --clr-bg-dark: oklch(0.05 0 110);
  --clr-bg: oklch(0.15 0 110);
  --clr-bg-light: oklch(0.25 0 110);
  --clr-text: oklch(0.96 0 110);
  --clr-text-muted: oklch(0.76 0 110);
  --clr-highlight: oklch(0.5 0 110);
  --clr-border: oklch(0.4 0 110);
  --clr-border-muted: oklch(0.3 0 110);

  --clr-primary: oklch(0.4 0.1 240);
  --clr-secondary: oklch(0.4 0.1 300);
  --clr-tertiary: oklch(0.4 0.1 270);

  --clr-danger: oklch(0.5 0.1 30);
  --clr-warning: oklch(0.5 0.1 100);
  --clr-success: oklch(0.5 0.1 160);
  --clr-info: oklch(0.5 0.1 260);

  --box-shadow: 0.5rem 0.5rem 1.5rem var(--clr-border-muted);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  /* width: 100%; */
  /* max-width: 750px; */
  /* outline: 1px solid green; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

fieldset {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem 2rem;
  background-color: var(--clr-bg-dark);
  border-color: var(--clr-border);
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

legend {
  padding: 0.5rem 1rem;
  background-color: var(--clr-bg-dark);
  /* border-top: 0.1rem solid var(--clr-border); */

  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1.2rem;
}

label>p {
  font-weight: 600;
}

input,
textarea {
  width: 100%;
  background-color: var(--clr-bg-light);
  padding: 0.5rem 1rem;

  border-radius: 0.5rem;
  border: none;
  border-bottom: 0.1rem solid var(--clr-border);

  box-shadow: var(--box-shadow);
}

label > p  {
  margin-top: 0.5rem;
}

textarea {
  height: 8rem;
  resize: vertical;
}

input:focus,
textarea:focus {
  outline-color: var(--clr-info);
}

.schoolContainer,
.experienceContainer {
  /* outline: 1px solid red; */
}

.buttons {
  display: flex;
  justify-content: center;

  gap: 1rem;
}

button {
  background-color: var(--clr-info);
  font-weight: 600;
  padding: 0.1rem 0.5rem;
  margin: 0.5rem 0;
  border-color: var(--clr-border-muted);
  border-radius: 0.5rem;

  box-shadow: var(--box-shadow);
}

button:hover {
  border-color: var(--clr-border);
  cursor: pointer;
}

.deleteButton {
  background-color: var(--clr-danger);
}

.submitButton {
  background-color: var(--clr-success);
}

.fromToDate {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18ch, 1fr));
  align-content: start;
  gap: 0.5rem;
}

@media screen and (width <600px) {

  #root {
    padding: 0.5rem;
  }


}